:root {
  --blue: rgb(88, 164, 246);
  --light: #fff;
  --dark: #303133;
}

html,
body {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none var(--blue);
  color: var(--dark);
  line-height: 2.5;
  cursor: pointer;
  transition: opacity .2s;
  
  display: inline-flex;           /* 使用flex让子项水平排列 */
  align-items: center;            /* 垂直居中对齐 */
  gap: 6px;                       /* 图标与文字间距 */
  padding: 8px 12px;
}

button:disabled {
  filter: grayscale(1);
  cursor: not-allowed;
}

button:not(:disabled):active {
  opacity: 0.6;
}

textarea {
  display: block;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #f4f4f4;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: #f4f4f4;
  }

  ::-webkit-scrollbar-thumb {
    border-color: #f4f4f4;
  }
}

@media (prefers-color-scheme: dark) {
  &::-webkit-scrollbar-track-piece {
    background-color: #303133;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #666;
    border-color: #303133;
  }

  body {
    background-color: #303133;
    color: #fff;
  }
}
